.layout_sider {
  overflow: auto;
  height: auto;
  left: 0;
  position: sticky;
  z-index: 2;
  min-height: 100vh;
}
.layout_content {
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.card h4 {
  color: #1890ff;
}

.trigger:hover {
  color: #1890ff;
}

.site-layout .site-layout-background {
  background: #fff;
}
.logo {
  background-image: url(https://bri.co.id/o/bri-corporate-theme/images/bri-logo-white.png);
  background-repeat: no-repeat;
  background-size: 90%;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70px;
  width: 190px;
}
.tabs img {
  height: 200px;
  width: 200px;
}
